@charset "utf-8";
/* [SEPTEM] UI Dev Team :nh_br :큰글뱅킹 */
 .wrapper{width:100% !important}
.bigFontWrap [class*="btnPress"]{font-size:20px}
.bigFontWrap .selectValue{font-size:20px;line-height:44px;font-weight:bold}
.stepArea.bigFontArea .stepTit{font-size:20px;letter-spacing:-0.04em}
.formWrap.bigFontWrap{margin-top:10px}
.bigpointColor{color:#084cd5 !important}
.bigpointColor1{color:#f44743 !important}
.bigpointColor2{color:#111 !important}
.bigpointColor3{color:#4885e0 !important}
.bigFontWrap [class*="roundbox"]{padding:15px 15px 0 15px;border-radius:7px;-webkit-border-radius:7px;box-sizing:border-box;-webkit-box-sizing:border-box}
.bigFontWrap .roundboxBlue{background-color:#deeeff}
.bigFontWrap .roundboxBlue .roundInner .inputList input[type="text"]{padding-right:0}
.bigFontWrap .areaBtnInner{text-align:center;padding:10px 0 10px 0}
.bigFontWrap .roundboxWhite{background-color:transparent;border:1px solid #ccc;overflow:hidden}
.bigFontWrap .roundboxWhite .bigdealDate{position:relative}
.bigFontWrap .bigdealDate .btnwithdInfo:after{content:'';display:block;width:100%;height:100%;background-color:#f8f8f8;position:absolute;top:0;left:0;border-radius:7px;z-index:-1}
.bigFontWrap .roundboxWhite .guideListbigFont{background:transparent;margin-top:-2px}
.bigFontWrap .roundboxWhite.bodBline{border:1px solid #4885e0;margin-top:10px;padding:0}
.bigFontWrap .roundboxWhite.prNone .inputList input[type="text"]{padding-right:10px;letter-spacing:-0.08em}
.bigFontWrap .roundboxWhite.prNone .inputList input[type="text"]::-webkit-input-placeholder{font-size:18px;color:#666}
.bigFontWrap .roundboxWhite.prNone .bigWidthdraw dt{margin-top:15px}
.bigFontWrap .roundboxWhite.prNone .bigWidthdraw dt:nth-of-type(1){margin-top:0}  
.flexContainer{overflow:hidden}
.flexContainer li{width:50%;float:left;position:relative;max-height:94px}
.flexContainer li a{position:relative;display:block;box-sizing:border-box;-webkit-box-sizing:border-box;padding:14px;height:100%}
.flexContainer li.active a{background-color:#deeeff}
.flexContainer li::before{content:'';width:1px;height:100%;background-color:#ccc;position:absolute;top:0;left:0%;z-index:999}
.flexContainer li:nth-child(even)::before , .flexContainer li:first-child:before{background-color:transparent} 
.bigFontWrap .roundboxWhite .flexContainer li ~ li{border-top:1px solid #ccc}
.bigFontWrap .roundboxWhite .flexContainer li:first-child{width:100%;background-color:#f3faff}
.bigFontWrap .roundboxWhite .flexContainer li:first-child dl{background:url('../images/common/ico_big_counseler.png') no-repeat 96% center;background-size:44px auto}
.bigFontWrap .roundboxWhite .flexContainer dl{font-size:16px}
.bigFontWrap .roundboxWhite .flexContainer li:first-child dt{color:#111 !important}
.bigFontWrap .roundboxWhite .flexContainer dl dt{line-height:1.2}
.bigFontWrap .roundboxWhite .flexContainer dd{color:#19A647}
.bigFontWrap .roundboxWhite .flexContainer dd:before{content:'';display:inline-block;width:12px;height:12px;padding-left:5px;background-image:url('../images/common/ico_big_telphone.png');background-repeat:no-repeat;background-size:12px auto}
.bigFontWrap .roundboxWhite .flexContainer li:first-child dd:before{width:14px;height:14px;background-image:url('../images/common/ico_big_telphone1.png');background-size:14px auto;vertical-align:middle}
.bigFontWrap.guideList{background:transparent;padding:0}
.bigFontWrap.guideList .tArea{background-color:transparent}
.guideListbigFont{margin:15px 0 15px 0}
.bigFontWrap .formTit{margin-bottom:0;margin-top:0}
.selectBigForm .stList a.clickPopArea{border-radius:5px;-webkit-border-radius:5px;border:1px solid #3b5997;height:44px}
.bigFontWrap .selectBigForm dl:first-of-type{padding:0 0 12px 0}
.bigFontWrap .selectBigForm dl{padding:12px 0;font-size:18px}
.bigFontWrap .selectBigForm + .areaBtnInner{padding:0 0 15px 0}
.bigFontWrap .selectBigForm dl dt{margin-bottom:10px;line-height:1.1;font-size:18px}
.bigFontWrap .formTit{font-size:20px !important;line-height:1.1}
.bigFontWrap .formTit .formTitbox{width:100%;text-align:right}
.bigFontWrap .formTit .formTitbox span{line-height:1.4}
.bigFontWrap .bigselAccount + .bigselAccount{border-top:1px solid #fff}
.bigFontWrap .bigselAccount dt + dd.formsubTit{margin-bottom:15px !important}
.bigFontWrap .bigselAccount + .bigWidthdraw , .btop{border-top:1px solid #fff}
.bigFontWrap .bigselAccount dt + dd{line-height:1.2;margin-bottom:7px}
.bigFontWrap .bigselAccount{position:relative}
.bigFontWrap .bigselAccount .posTop{position:absolute;top:0;left:70px}
.bigFontWrap .bigselAccount .posTop span{font-size:18px;white-space:pre;color:#084cd5}
.bigFontWrap .roundboxWhite .bigWidthdraw +  .bigWidthdraw{border-top:1px solid #ccc}
.bigFontWrap .formsubTit{font-size:18px;color:#444}
.bigFontWrap .bigWidthdraw dd{text-align:right}
.bigFontWrap .bigdealDate{position:relative;background-color:#f8f8f8;font-size:18px;height:45px;line-height:45px;margin:-15px -15px 0 -15px;padding:0 15px;border-radius:7px}
.bigFontWrap .bigdealDate + .bigselAccount{margin-top:15px;position:relative}
.bigFontWrap .bigdealDate + .bigselAccount:before{content:'';display:block;height:1px;width:100%;background-color:#ccc;position:absolute;top:-15px;left:-15px;padding:0 15px}
.bigFontWrap .roundboxWhite .revTxtBox{overflow:hidden;margin:10px 0}
.bigFontWrap .bigdealDate .btnwithdInfo{position:relative;display:block;width:100%;text-align:left}
.bigFontWrap .bigdealDate .btnwithdInfo:before{content:'';display:block;width:18px;height:10px;background-image:url('../images/common/ico_arr4_down.png');background-repeat:no-repeat;background-position:0 0;background-size:18px auto;position:absolute;top:45%;right:0px}
.bigFontWrap .bigdealDate .btnwithdInfo.active:before{background-image:url('../images/common/ico_arr4_up.png')}
.bigFontWrap.defSubTit{font-size:20px}
.bigFontWrap + .guideList{background:transparent;padding:0}
.bigFontWrap .bigaccountList .bigselAccount ~ .bigselAccount{border-top:1px solid #ccc}
.bigFontWrap .openPanel{position:relative}
.bigFontWrap .openPanel:before{content:'';display:block;height:1px;width:100%;background:#ccc;position:absolute;top:-10px;left:-15px;padding-left:30px}
.bigFontWrap .bigaccountList  ~ .bigaccountList{margin-top:10px}
.bigFontWrap .bigaccountList .openPanel dl:first-of-type{margin-top:10px}
.bigFontWrap .bigaccountList .openPanel  dl dd{margin-bottom:0}
.bigFontWrap + .guideList .tArea{background-color:transparent}
.bigFontWrap .guideTit , .bigFontWrap .listDot, .bigFontWrap.guideList .listDot li{font-size:16px;line-height:1.2}
.bigFontWrap .guideTit{padding:0 0 0 22px;background:url(../images/common/ico_big_bell.png) no-repeat 0 2px;background-size:15px 15px}
.areaBtnDefault.bigFontWrap .btnPressPoint:after , 
.areaBtnDefault.bigFontWrap .btnPressDefault:before{content:'';display:inline-block;width:10px;height:15px;background-repeat:no-repeat;background-position:0 0px;background-size:10px 15px}
.areaBtnDefault.bigFontWrap .btnPressPoint:after{background-image:url('../images/common/ico_big_next.png')}
.areaBtnDefault.bigFontWrap .btnPressDefault:before{background-image:url('../images/common/ico_big_prev.png');padding-left:8px}
.areaBtnDefault .btnPressDefault.w75{width:75%}
.btnPressDefault a{font-size:20px}
.btnPressDefault a:before{content:'';background:transparent} 
.bigFontWrap input[type="radio"], .bigFontWrap input[type="checkbox"]{background-color:transparent}
.bigFontWrap input[type="radio"] + label, .bigFontWrap input[type="checkbox"] + label{font-size:16px}
.dflex li{float:initial}
.bigFontWrap .selectBigForm{margin-top:6px}
.bigFontWrap a.btnType01{height:35px;line-height:33px;background:#e8ecef;border-radius:5px;font-size:16px;color:#444;font-weight:bold}
.bigFontWrap .areaBtnType02 ul li:last-child{width:initial}
.bigFontWrap .areaBtnType02 ul.dflex li a{display:inline-block}
.bigFontWrap .areaBtnType02 ul.dflex li.active a.btnType01{background:#4885e0;color:#fff;border:1px solid #4885e0}
.bigFontWrap .areaBtnType02 ul.dflex li.active a.btnType01:before{content:'선택됨';display:block;font-size:1px;color:transparent;position:absolute;top:0;left:0;overflow:hidden}
.bigFontWrap .areaBtnType02.bigWhBtn a.btnType01{background-color:#fff !important}
.bigFontWrap .confirmMsg.type01{background:url('../images/common/bg_confirm01.png') no-repeat 50% 25px;background-size:50px 50px}
.bigFontWrap .bigFontConfirmArea{font-size:20px;color:#111;display:flex;justify-content:center;-webkit-justify-content:center;align-items:center}
.bigFontWrap .bigerrBox{display:flex;justify-content:center;-webkit-justify-content:center;align-items:center;align-self:stretch;min-height:350px}
.bigFontWrap .confirmMsg.type04{position:relative;background:none}
.bigFontWrap .confirmMsg.type04:before{content:'';width:50px;height:50px;position:absolute;top:0px;left:45%;background:url(../images/common/bg_big_confirm03.png) no-repeat 0 0px;background-size:50px 50px}
.bigFontWrap .confirmMsg.type04{padding-top:70px;height:114px;box-sizing:border-box;margin-top:20px}
.bigFontWrap [class *="icoBox"]{overflow:hidden;float:right;font-size:18px;color:#3b5997;margin-top:-30px}
.bigFontWrap .icoBoxblue{color:#084cd5}
.bigFontWrap .icoBoxred{color:#f44743}
.bigFontWrap .icoBoxblack{color:#444}
.bigFontWrap .dirInputBox .selectBigForm{display:none}
.bigFontWrap .btnmoveBox{width:100%;border-top:1px solid #ccc;padding:12px 0 16px} 
.bigFontWrap .btnmoveDetail{display:block;font-size:18px;border:1px solid #ccc;border-radius:5px;line-height:35px}
.bigFontWrap .btnmoveDetail:after{content:'';display:inline-block;width:17px;height:17px;background:url('../images/common/arrow_quick_view.png') no-repeat center center;background-size:auto 17px;vertical-align:-2px;padding-left:5px}
.bigTblFontWrap .tfbgBlue td{background:#f3faff !important}
[class^="wrapTbl"].bigTblFontWrap  .tfbgBlue th{background:#f3faff !important} 
.selectBigForm .inputList .unit{position:absolute;right:36px;top:1px;font-size:20px;line-height:1.2}
.selectBigForm .roundInner .inputList .unit{top:5px}
.selectBigForm .btnReset{width:34px;height:36px;background:url('../images/common/btn_input_bigclose.png') no-repeat;background-size:34px auto;position:absolute;top:5px;right:2px}
.selectBigForm  .stList a.btnReset{border:none;display:none}
.selectBigForm .selectBtn{width:43px;height:43px;background:url('../images/common/big_select_arrow.png') no-repeat;background-size:43px auto} 
.selectBigForm .areaView{display:block;background:url('../images/common/arrow_quick_view.png') no-repeat right 33px;background-size:auto 17px}
.selectBigForm .areaView .bigselAccount dt{width:90%}
.mdSelectbox{padding-bottom:15px}
.checkViewDate{overflow:hidden;width:100%;position:fixed;top:50px;left:0;background:#4885e0;color:#fff;height:45px;line-height:45px;font-size:16px;-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0;z-index:999}
.checkViewDate.active{-webkit-transition:all 0.2s;transition:all 0.2s;-webkit-transform:translateY(0);transform:translateY(0);opacity:1}
.checkViewDate p{padding-left:15px;float:left;width:67%;border-right:1px solid #6d9de6}
.checkViewDate button{float:right;width:32%;text-align:center;font-size:16px;line-height:45px;outline:none}
.popWrap.bankSetWrap h1.bankPopTit{text-align:center}
.popWrap.bankSetWrap .btnSetup{position:absolute;top:15px;right:38px;text-indent:-9999px;overflow:hidden}
.popWrap .bigFontaccount input[type="text"], .popWrap .bigFontaccount input[type="tel"]{font-size:16px}
.inputDirect{padding:12px 0}
.inputDirect .accName{display:block;margin-bottom:5px}
.bigFontaccount{font-size:16px}
.bigFontaccount .inputDirect .accName{font-size:16px}
.bigFontaccount .popCont .selectList li.active{position:relative}
.bigFontaccount .popCont .selectList li.active a:after{content:'선택됨';background-color:#e9f5ff;width:1px;height:1px;font-size:1px;color:transparent;position:absolute;top:0;left:0;overflow:hidden}
.bigFontaccount .selectList > li .accSel > span{display:block;font-size:16px}
.bigFontaccount .selectList > li .accSel > .accName{color:#111;font-size:16px}
.bigFontaccount .selectList > li .accNum strong{color:#f68b1f;font-size:16px}
.bigFontaccount .selectList > li .accNum .accNick{font-size:16px;color:#111}
.bigFontaccount .selectList  .inputList input::-webkit-input-placeholder ,
.bigFontWrap input[type="tel"]::-webkit-input-placeholder{font-size:20px;color:#666;font-weight:normal}
.bigFontaccount .popBtnWrap .popBtn > a{font-size:16px}
.bigFontConfirmArea p{font-size:20px}
.popWrap .popInner .popCont .transfer{padding:0 17px 17px}
.bigFontWrap [class^="wrapTbl"] th, [class^="wrapTbl"] td{font-size:16px}
.bigFontWrap .wrapTblDefault table td{text-align:right}
.bigFontWrap .wrapTblDefault.bigTblFontWrap{padding-bottom:10px}
.biglistMoreBtn{margin-top:15px;border-radius:5px}
.biglistMoreBtn a{display:block;height:35px;line-height:35px;border-radius:5px;background-color:#e8ecef;font-size:18px;font-weight:bold;text-align:center}
.biglistMoreBtn a:after{content:'';display:inline-block;width:15px;height:11px;margin-left:7px;background:url(../images/common/ico_arr_bigdown.png) no-repeat 0 0;background-size:15px 9px}
.selectBigForm [class*="account"]{font-size:20px;line-height:1}
.selectBigForm .accountNum{padding:0 0 15px 0;margin-bottom:12px;font-size:20px;border-bottom:1px solid #ccc;line-height:1}
.selectBigForm .accountView{padding-bottom:10px}
.selectBigForm .accountView + .bigselAccount{padding:0}
.selectBigForm .inputList input[type="text"] , .bigFontWrap input[type="tel"]{padding:0px 54px 0px 5px;font-size:18px;text-align:left;border-radius:5px;border:1px solid #3b5997;height:auto;min-height:44px;line-height:1.2em;box-sizing:border-box;font-family:initial;font-weight:normal}
.selectBigForm .inputList input[type="text"]:focus{border:1px solid #4285f4}
.selectBigForm .inputList input[type="text"].ac{padding-right:0}
.selectBigForm .bigselAccount .inputList input::-webkit-input-placeholder , 
.selectBigForm .bigselAccount .inputList input::-webkit-input-placeholder{color:#666;font-size:20px;font-family:initial;font-weight:normal}
.selectBigForm .areaBtnType02 ul.dflex{display:table;width:100%}
.selectBigForm .areaBtnType02 .roundboxWhite ul.dflex li{display:table-cell;width:50%}
.selectBigForm .roundboxWhite .areaBtnType02{margin-top:0;margin-bottom:15px}
.selectBigForm .formType:first-child{margin-top:10px;padding-top:0;border-top:none}
.selectBigForm .formType{padding:10px 0 10px 0}
.selectBigForm .formType  + .formType{border-top:1px solid #bdd0e5;padding-bottom:0}
.selectBigForm .formType .formArray{margin-top:0px}
.selectBigForm .formType + .areaBtnInner{padding-top:15px;padding-bottom:0}
.bginnerColor{background-color:#deeeff;margin:-40px -17px 10px -17px}
.bginnerColor .selectBigForm{padding:40px 17px 15px 17px}
.bginnerColor .selectBigForm .roundboxWhite{background:#fff}
.btnWhitebg{margin-top:8px}
.btnWhitebg .inner li a{background:#fff;border:1px solid #ccc;color:#444;font-size:16px;border-radius:5px;font-weight:bold;height:34px;line-height:32px;box-sizing:border-box;-webkit-box-sizing:border-box}
.btnWhitebg .inner li a.btnAddonPoint{border-radius:5px}
.transferCheck{font-size:16px;line-height:1}
.transferCheck:before{content:'';display:inline-block;width:15px;height:16px;background:url(../images/common/ico_big_exclamation.png) no-repeat;background-size:15px auto;padding-left:2px;vertical-align:-2px}
.transferCheck a{color:#3b5997;text-decoration:underline !important}
.transferCheck .icoLeftTxt{margin-left:20px;margin-top:-18px;line-height:1.2;color:#444}
.snsShare{margin-top:20px}
.snsShare .dflex{display:table;width:100%}
.snsShare ul li{display:table-cell;width:33.3%}
.snsShare ul li a{display:block;font-size:16px;text-align:center}
.snsShare [class *="icosns"]:before{content:'';display:block;width:45px;height:45px;background-repeat:no-repeat;background-image:url(../images/common/ico_big_sns.png);background-size:auto 45px;margin:0 auto}
.snsShare .icosns01:before{background-position:0px 0;margin-left:5px;margin:0 auto}
.snsShare .icosns02:before{background-position:-60px 0}
.snsShare .icosns03:before{background-position:-130px 0}
.areaBodyBtnSelect.dflex a:first-child{border-right:none}
.tabLv1.bigFontWrap li a{font-size:20px}
.tabLv1.bigFontWrap li a.active span:after{height:6px}
.bigFontWrap.areaBodyBtnSelect{margin-top:10px}
.bigFontWrap.areaBodyBtnSelect a{font-size:18px;line-height:45px}
.bigFontWrap .totalIcon:before{content:'';display:inline-block;width:22px;height:15px;background:url('../images/common/ico_big_total.png') no-repeat 0 0;background-size:22px auto;margin-right:7px}
.areaBtnInner .btnInView{padding:0 35px;line-height:45px;background-color:#3b5997;font-size:20px;color:#fff;border-radius:4px;text-align:center}
.directInputWrap{padding:15px 0;width:100%;box-sizing:border-box;display:none}
.bigFontWrap .btnDirInput{position:relative;display:inline-block;padding:0 35px 0 15px;font-size:16px;line-height:35px;color:#444;border-radius:5px;box-sizing:border-box;min-width:138px;text-align:left;background:#e8ecee}
.bigFontWrap .btnDirInput:before{content:'';display:block;width:25px;height:25px;position:absolute;top:5px;right:5px;background:url('../images/common/ico_bigarrow_openclose.png') no-repeat;background-size:25px auto;background-position:0 0}
.bigFontWrap .btnDirInput.active:before{background-position:0 bottom}
.bigFontWrap .areaBtnType02 .btnType01{background:#e8ecef}
.bigFontWrap .selectBigForm .calendarForm{margin-top:10px}
.bigFontWrap .selectBigForm .calendarForm + .areaBtnInner{padding-top:10px;padding-bottom:0}
.guideListbigFont + .areaBtnInner{padding-top:0;padding-bottom:0}
.bigFontWrap .cal .inputList .btnCalendar{height:45px}
.bigFontWrap  input[type="text"]:read-only{background:#fff}
.bigFontWrap .selectBigForm .inputList input[type="text"]{text-align:left;color:#111;font-size:20px;font-weight:normal}
.bigTblFontWrap .defTit{font-size:20px;color:#111}
.bigTblFontWrap th, .bigTblFontWrap td , .calendarForm > .cal .inputList input{font-size:18px !important}
.bigTblFontWrap td .listDash li{color:#111}
.tabContent{margin-top:10px}
.tabContent .formWrap:not(:first-of-type){display:none}
.tabContent .bginnerColor .selectBigForm{margin-top:-70px;padding-top:65px}
.tabContent .bginnerColor .selectBigForm .stList , .tabContent .bginnerColor .selectBigForm .roundInner{margin-top:10px}
.popWrap.fullLayerPop .popInner .popCont{height:calc(100% - 40px)}
.popInner.bigFontaccount .inputList .btnReset{width:34px;height:36px;background:url(../images/common/btn_input_bigclose.png) no-repeat;background-size:34px auto;top:3px;right:0}
.bigFontaccount .inputList .btnReset.active{display:block !important}
.popInner.bigFontWrap{font-size:16px}
.popInner.bigFontWrap h1.bankPopTit{font-size:16px}
.popInner.bigFontWrap .accordionMenu{margin:0}
.popBtnWrap.bigFontWrap .confirmBtn , .popInner.bigFontWrap .accList ul > li .accNum strong{font-size:16px}
.popInner.bigFontWrap .accName ,
.popInner.bigFontWrap .accList ul > li .accSel > span ,
.popInner.bigFontWrap .amount em ,
.popInner.bigFontWrap .accInfo .infoTit{font-size:17px}
.popInner.bigFontWrap .accList ul > li > a.btnType02 , .popInner.bigFontWrap .accList ul > li .accSel > span .badge{font-size:13px}
.bigTblFontWrap .btnAddon{font-size:16px;height:30px;line-height:28px}
/* 은행 선택 리스트 */
.tabContWrap .tabCont{display:none}
.tabContWrap .tabCont:first-child{display:block}
[class^="bankListW"]{margin-top:9px}
[class^="bankListW"] ul:after{display:block;content:'';clear:both}
[class^="bankListW"] li{float:left;width:50%}
[class^="bankListW"] li a{display:block;padding:11px 0;line-height:25px;letter-spacing:-0.085em}
[class^="bankListW"] li a img{width:25px;height:25px;margin-right:6px;vertical-align:middle}
.bigFontBtnFull{margin-top:15px;margin-bottom:20px}
.bigFontBtnFull ul{display:table;table-layout:fixed;width:100%}
.bigFontBtnFull li{display:table-cell;padding:0 2px}
.bigFontBtnFull li a{display:block;height:35px;padding:0 3px;border-radius:4px;line-height:35px;font-size:18px;text-align:center;background-color:#e8ecef}
.bigFontBtnFull li.active a{background-color:#4885e0;color:#fff}
.bigFontSevice dl.bigseviceList{display:table;width:100%}
.bigFontSevice li ~ li{border-top:1px solid #ccc}
.bigFontWrap .selectBigForm dl.bigseviceList{padding:13px 0;line-height:1}
.bigFontSevice dl.bigseviceList > dt{display:table-cell;width:80%;margin-bottom:0;vertical-align:middle}
.bigFontSevice dl.bigseviceList > dd{text-align:right;vertical-align:middle;display:table-cell}
.bigFontWrap .selectBigForm li:first-child dl.bigseviceList{padding-top:0}
.bigFontTitbox{margin:18px 0 8px}
.bigFontTitbox .formTit{margin-bottom:10px}
.bigFontTitbox .formsubTit{line-height:1.2}
.pointWon{font-weight:normal;color:#111}
.bbT{border-top:1px solid #fff !important}
.bigFontWrap .messageToggle .accordionMenu .dep1 > li > a{font-size:16px}
/* 내계좌선택 */
.accList ul > li{position:relative;padding:15px 17px;border-top:1px solid #dedede}
.accList ul > li:first-child{border-top:0}
.accList ul > li > a{display:block}
.accList ul > li > a.btnType02{display:inline-block;position:absolute;top:50%;right:17px;margin-top:-15px}
.accList ul > li .accSel > span{display:block;margin-top:4px}
.accList ul > li .accSel > span:first-child{margin-top:0}
.accList ul > li .accName{color:#111}
.accList ul > li .accNum strong{color:#f68b1f}
.accList ul > li .accName + .inputBoth01{margin-top:10px}
.accList .areaBodyBtnFull{margin-top:10px}
.bigFont19{font-size:19px !important}
.bigFont19 li, .bigFont19 a{font-size:19px !important}
@media screen and (max-width:320px){
	.flexContainer li:nth-child(6).active a{height:95px}
}
.bigFontWrap .selectBigForm dl{font-size:20px}
.defTit.ksType02{font-size:20px;color:#111;height:29px}
.defTit.ksType02 .btnAcc{font-size:18px;color:#111;text-indent:0;text-align:right;padding:5px 22px 5px 6px;border:1px solid #ddd;display:inline-block;width:auto;height:33px;background:url(../images/common/ico_arr2_down.png) no-repeat right 7px center;background-size:10px auto;line-height:20px;margin-top:-2px}
.defTit.ksType02 .btnAcc.active{background:url(../images/common/ico_arr2_up.png) no-repeat right 5px center;background-size:10px auto}
.accListBtn{width:100%;text-align:right;margin-top:5px;border:0 none}
.accListBtn a{display:inline-block;width:30%;height:30px;background-color:#fff;text-align:center;line-height:27px;font-size:14px;border-radius:5px;border:1px solid #ccc}
.accListBtn a:after{content:'';display:inline-block;width:12px;height:8px;margin:0 0 0px 5px;background:url('../images/common/ico_arr_down.png') no-repeat 50% 50%;background-size:12px 8px}
.accListBtn a.active:after{margin:0 0 1px 5px}
.accListBtn a,.accListBtn a.active{background-image:none}
.accListBtn a.active:after{background-image:url('../images/common/ico_arr_up.png');position:relative}
.toggleBox + .areaBtnInner{margin-top:20px}
.selectBigForm .formType + .formType{padding-bottom:10px}
.selectBigForm .formType + .toggleBox{border-top:1px solid #bdd0e5}
.totalWrap{margin:20px 0 0 0;border-radius:7px 7px 0 0}
.totalWrap h2{font-size:18px}
.totalWrap.bankType{margin-top:0;border-radius:0 0 7px 7px}
.totalWrap.bankType dt, .totalWrap.bankType dd{font-size:18px}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{font-size:20px}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{font-size:20px}
input::-moz-placeholder,
textarea::-moz-placeholder{font-size:20px}
input::-moz-placeholder,
textarea::-moz-placeholder{font-size:20px}
.bigFontWrap .inputB02{width:44px;height:44px;float:right}
.bigFontWrap .inputB02 .btnInput01{display:block;width:44px;height:44px;border-radius:5px;font-size:0;border:1px solid #3b5997;background:#fff url('../images/common/ico_plus.png');background-repeat:no-repeat;background-size:40% 40%;background-position:center center}
.bigFontBtnFull li a.type01{display:inline-block;float:right;padding:0 10px}
.bigFontWrap .bigselAccount dt + dd:after{content:'';display:block;clear:both}
.bigFontWrap input[type="tel"].icoType01{padding:0px 84px 0px 5px}
.bigFontWrap .selectBigForm dl.bigselAccount.type02 .btnReset{right:33px}
.bigFontWrap .selectBigForm dl.bigselAccount.type02 .btnAddCall{font-size:0;text-indent:-1000px;position:absolute;width:21px;height:24px;right:10px;top:10px;background:url(../images/contents/ico_call_01.png);background-size:21px auto;background-repeat:no-repeat;background-position:0 0}
@media screen and (max-width:370px){
	.selectBigForm .areaBtnType02.type02 ul.dflex{display:block}
	.areaBtnType02.type02 ul:after{content:'';display:block;clear:both}
	.areaBtnType02.type02 ul li{display:inline-block;width:54%;float:right;padding:0}
	.areaBtnType02.type02 ul li:first-child{float:left;width:43%}
	.areaBtnType02.type02 ul li:last-child:after{content:'';display:block;clear:both}
	.areaBtnType02.type02 ul li:last-child{display:block;margin-top:8px;width:100%}
}
.topBanner{margin:22px 0 0} 
.topBanner a{display:block}
.topBanner img{max-width:100%;width:100%;height:auto;display:block} 
.bigFontWrap input[type="text"]::-webkit-input-placeholder,.bigFontWrap input[type="tel"]::-webkit-input-placeholder{font-size:20px;color:#666;font-weight:normal} 
input[type="radio"] + label,
input[type="checkbox"] + label{vertical-align:top;line-height:21px}
.bigFontWrap .formTit.type01{font-size:20px}
.bigFontWrap .formTit.type01 + .inputList input{font-size:18px}
.bigFontWrap + .formTit.type02{font-size:16px}
.popBtnWrap.bigFontPopBtn .popBtn a{font-size:18px !important}

/* 2020 고도화 시작 */
.popWrap .popInner.dfs .popCont{padding:0 20px 40px}
.popWrap.slidePopOption .popInner.dfs .popCont.panels{padding-bottom:90px}
.inptText:-ms-input-placeholder{font-size:19px}
.inptText::-webkit-input-placeholder{font-size:19px}
.inptText::-moz-placeholder{font-size:19px}
.inptText::-moz-placeholder{font-size:19px}
.dfs input,.dfs select,.dfs textarea,.dfs button,.dfs .tbl.tblDeal th, .dfs .tbl.tblDeal td{font-size:18px}
.dfs .btnWrap.inr .btn{font-size:18px}
.dfs .header h1{font-size:18px}
.dfs .formHolder label.tit, .dfs .formHolder strong.tit, .dfs .titWrap .tit, .dfs .titWrap .tit > a{font-size:20px}
.dfs .btnWrap.foot .btn, .dfs .popBtnWrap .btnWrap .btn,
.dfs .btnWrap.foot .btn, .dfs .popBtnWrap .popBtn .btn{font-size:20px}
.dfs .noticeWrap .listBul.dash>li{font-size:16px;line-height:22px;padding-left:10px;margin-top:15px}
.dfs .noticeWrap .listBul.dash>li:before{width:5px;top:11px}
.dfs .noticeWrap .listBul .btnPushAlrim{display:inline-block;font-size:13px;color:#111;height:21px;line-height:20px;border:1px solid #d3d3d3;padding:0 5px;border-radius:3px;background-color:#fff}
.popWrap .dfs .popHeader .tit, .popWrap .dfs .popHeader .tit>a{font-size:22px}
.popWrap.fullLayerPop .dfs .popHeader .tit{font-size:22px}
.popWrap.fullLayerPop .jsTabs.type01.link{margin-top:18px}
@media screen and (max-height:615px){
	.dfs .inputTransferAmountWrap .amountOutput{margin-top:0}
}
.dfs .inputTransferAmountWrap .amountOutput p{font-size:14px !important}
.dfs .fieldGroup .btn{font-size:16px !important}
.dfs .accStit,.jsTabs.type01>.tabs li a,.dfs .btnWrap.page .btn{font-size:17px}
.dfs .msgWrap.noData .tit{font-size:19px}
.dfs p.check{padding-left:18px;text-align:left}
.dfs .radioListWrap .accTit{font-size:20px}
.dfs .accountTransferView.typeNone .accInfoArea .accCont .accNum{margin-top:10px}
.dfs .accountTransferView.typeNone .accTransferList{padding-top:43px}
.dfs .accountTransferView.typeNone .accTransferList .txtR.balance .tit{margin-right:82px}
.dfs .accountTransferView .accInfoArea .accCont .accNum{font-size:18px;margin-top:5px}
.dfs .accountTransferView .accInfoArea .accCont .accNum a{font-size:18px}
.dfs .accountTransferView .accInfoArea .accCont .icoStar{top:3px}
.dfs .accountTransferView .accTransferList{padding:21px 0 0 32px}
.dfs.small .accountTransferView.line{padding:10px 20px}
.small.dfs .accountTransferView .accTransferList{padding:7px 0 0 32px}
.small.dfs .inputTransferAmountWrap .amountOutput strong.txtPrice .price span,
.small.dfs .inputTransferAmountWrap .amountOutput strong.txtPrice .price .num span{font-size:32px}
.small.dfs .inputTransferAmountWrap .amountOutput strong.txtPrice .placeholder{font-size:30px}
.dfs .accountTransferView.typeRoundBox  .accTransferList{padding:23px 0 0 34px}
.dfs .accountTransferView .accTransferList +.accTransferList .balance .tit{top:1px}
.dfs .accountTransferView .accTransferList .txtR.balance .wUnit{font-size:27px}
.dfs .accountTransferView.typeRoundBox .accTransferList .txtR .price{font-size:17px}
.dfs .accountTransferView.typeRoundBox .accTransferList .txtR .price>span{font-size:19px}
.dfs.small .accountTransferView.typeRoundBox .accTransferList .txtR .price>span{font-size:18px;letter-spacing:-1px}
.dfs.small .accountTransferView.typeRoundBox .accTransferList .txtR .price{font-size:17px}
.dfs .accountTransferView .accTransferList .txtL{width:100px;font-size:17px}
.dfs .accountTransferView .accInfoArea .accTit{font-size:20px !important;line-height:23px}
.dfs .accountTransferView.line{padding:20px} 
.dfs.wine .accountTransferView.line{padding:10px 20px}
.dfs .accountTransferView .accTransferList .txtR .price{font-size:20px}
.dfs .accountTransferView .accTransferList .txtR .price span{font-size:22px;letter-spacing:-1px}
.dfs .accountTransferView .accTransferList .txtR.balance .tit{font-size:17px !important}
.dfs .accountTransferView .accTransferList .txtR.balance .price{font-size:29px}
.dfs .accountTransferView .accInfoArea .accName{padding-left:32px;font-weight:normal;font-size:18px;margin-top:10px;margin-bottom:11px}
.dfs .accountTransferView .accInfoArea .icoBnk + .accCont .accName{padding-left:0}
.dfs .listWrap .accInfoArea .rCont .btnDel{top:-10px}
.dfs .listWrap .accBlock .accName{font-size:20px}
.dfs .accountTransferView.typeRoundBox.viewAccList .btnWrap.inr{margin-top:33px}
.dfs .accTransferList dl dt, .snsType li span{font-size:18px !important}
.dfs .jsTabs.type01>.tabs{height:54px}
.popWrap.slidePopOption .jsTabs.type01>.tabs{height:54px}
.dfs .jsTabs.type01:before{top:53px}
.popWrap.slidePopOption .dfs .popCont .jsTabs.type01:before{margin-top:53px}
.dfs .jsTabs.type01>.tabs li, .dfs .jsTabs.type01>.scrollWrap>.tabs li{height:54px;line-height:63px}
.dfs .jsTabs.type01>.tabs li a, .dfs .jsTabs.type01>.scrollWrap>.tabs li a{font-size:21px;line-height:51px}
.dfs .jsTabs.noDivision.type02 .tabs li>a{font-size:19px !important;line-height:38px}
.dfs .jsTabs.scroll.type02 .tabs li>a,.dfs .accTransferList dl dd{font-size:19px !important;line-height:38px}
.dfs .jsTabs.scroll.type02 .tabs li, .dfs .jsTabs.noDivision.type02 .tabs li>a, .dfs .jsTabs.scroll.type02 .tabs li>a{height:38px}
.dfs .clear:after{clear:both;display:block;content:''}
.dfs .panels .titWrap{margin-left:15px;margin-right:15px}
.dfs .tabs + .panels .formWrap{margin-top:20px}
.dfs .fieldGroup .btnTxt{width:40px;height:57px;line-height:initial;font-size:16px}
.dfs .btnWrap.type2{padding:10px 0;margin-top:0px}
.dfs .radioListWrap .formTable .accCon{overflow:hidden}
.dfs .radioListWrap.outer .formHolder.radio.active input[type='radio']:checked+label:before, .dfs .radioListWrap.outer .formHolder.radio.active input[type='radio']+label:before{background-image:none}
.dfs .radioListWrap .formTable .priceWrap{margin:5px 0 0 0}
.dfs .radioListWrap .formTable .priceWrap .tit{font-size:20px}
.dfs .radioListWrap .formTable .priceWrap .price{font-size:20px;color:#111}
.dfs .radioListWrap .formTable .priceWrap .price span{font-size:22px}
.dfs .radioListWrap .formTable .meta{font-size:15px}
.dfs .radioListWrap .formTable .formBlock{overflow:hidden;margin-top:4px}
.dfs .radioListWrap .formTable .accNum{font-size:17px}

.dfs .tbl.tblDeal td{font-size:19px}
.dfs .msgWrap.confirm .tit>a{color:#111}
.dfs .fieldGroup .btn, .dfs .msgWrap.noData .tit+.txt{border-color:#333;color:#333;font-size:16px !important;line-height:1.4}
.dfs .selectWrap{margin-top:15px}
.dfs .selectWrap:after{display:block;clear:both;content:''}
.dfs .selectWrap li{float:left;width:33.33%;margin-top:10px;padding-left:10px}
.dfs .selectWrap li .link{display:block;width:100%;height:100%}
.dfs .selectWrap li .link span{display:block;margin:10px auto;text-align:center;font-size:13px;letter-spacing:-0.5px}
.dfs .selectWrap [class*="typeImg"]:before{background-size:100%;font-size:1px;color:transparent;width:50px;height:50px;display:inline-block;vertical-align:top}
.dfs .snsType .typeImg1:before{content:'';background-image:url(../images/common/sns_01.png)}
.dfs .snsType .typeImg2:before{content:'';background-image:url(../images/common/sns_02.png)}
.dfs .snsType .typeImg3:before{content:'';background-image:url(../images/common/sns_03.png)}
.fieldGroup .inptWrap input[readonly]{border-bottom:0}
.dfs .panels .tabInner .titWrap{padding:0 !important}
.dfs .fieldGroup.type input[readonly]{border-bottom:0 !important}
.dfs .tblDeal button.bookmark{position:absolute;top:6px;left:-18px;width:14px;height:17px;background-image:url('../images/common/sp_com.png');background-size:auto 250px;background-position:-185px -35px;font-size:0}
.dfs .tblDeal button.bookmark.on{background-position:-170px -35px}

.dfs .msgWrap.confirm.cType02 .tit{line-height:28px}
.dfs .radioListWrap .formHolder.radio input[type='radio']+label{width:100%;max-width:100%;margin:0}
input::placeholder{font-size:15px}
.dfs .accInfo .accName{font-weight:normal}
.dfs .accInfo .Date{font-size:16px !important;color:#888}
.dfs .listWrap.type{padding:0;margin-top:20px}
.dfs .listWrap.type li{padding:20px 0 0}
.dfs .listWrap.type li:first-child{padding-top:30px}
.dfs .listWrap.type .accInfoArea .rCont .btnDel{top:0px}
.dfs .listWrap.type .accInfoArea .rCont .btnDel{text-align:auto}
.dfs .listWrap.type .accInfo .accNum{font-size:17px !important}
.dfs .listWrap.type .accInfo > .meta{font-size:15px !important}
.dfs .listWrap li .accBlock span{line-height:1}
.dfs .listWrap li .accBlock .accTit .roundTxt{margin-right:5px;margin-bottom:10px;line-height:30px;font-size:14px}
.dfs .listWrap li .accBlock .accTit .accName{font-size:20px;margin-bottom:10px}
.dfs .listWrap li .accBlock .accTit .meta{margin-bottom:10px;font-size:18px}
.dfs .listWrap li .accBlock .accInfo{margin-top:-3px}
.dfs .listWrap li .accBlock .accInfo .accNum{margin-left:5px;font-size:17px}
.dfs .listWrap li .accBlock .accInfo .accBank{font-size:17px}
.dfs .listWrap li .accInfoArea .accCont .accTit{font-size:20px;line-height:24px}
.dfs .listWrap li .accInfoArea .accCont .accInfo{margin-top:3px}
.dfs .listWrap li .accInfoArea .accCont .accInfo .accBank{font-size:17px;line-height:20px}
.dfs .listWrap li .accInfoArea .accCont .accInfo .accNum{font-size:17px;line-height:20px}
.dfs .listWrap li .accInfoArea .accCont .accInfo .meta{font-size:15px;line-height:20px;vertical-align:top}
.dfs .listWrap li .accInfoArea .date.time{font-size:16px;color:#888;margin-top:6px}
.dfs .listWrap li .accInfoArea .accCont .priceWrap{margin-top:0}
.dfs .listWrap li .accInfoArea .accCont .priceWrap .tit{font-size:20px}
.dfs .listWrap li .accInfoArea .price{font-size:20px}
.dfs .listWrap li .accInfoArea .price>span{font-size:22px}
.dfs .listWrap li .accInfoArea .meta{font-size:15px}
.dfs .radioBtnWrap .btnHolder.radio.active label.radio.type{background:#fff;color:#111}
.dfs .jsAcc.type01 .accInr > .header .accCont{color:#111}
.dfs .fieldGroup .inptWrap.h input[type='text']{height:58px}
/*form*/
.dfs .formHolder.high .btnAdd{height:57px}
.formHolder.placeHolder input[type='text']:-ms-input-placeholder{font-size:19px;text-align:left}
.formHolder.placeHolder input[type='text']:-webkit-input-placeholder{font-size:19px;text-align:left}
.formHolder.placeHolder input[type='text']:-moz-placeholder{font-size:19px;text-align:left}
.dfs .radioListWrap .icoBnk img{width:38px !important;height:38px!important}
.dfs .formHolder .inptWrap.sch input{height:45px;line-height:45px}
/* .dfs .fieldGroup .inptWrap.sch + .btn{margin-top:5px} */
.dfs .fieldGroup>.select.col.inpSel{width:112px;margin-left:10px;height:57px;font-size:19px;border-bottom:2px solid #eee;line-height:57px}
.dfs .fieldGroup>.select.col.inpSel:after{top:25px}
.dfs .fieldGroup> .inpSelBox{width:95px;margin-left:10px;height:57px;font-size:19px;border-bottom:2px solid #eee;line-height:57px}
.dfs .fieldGroup> .inpSelBox .select.col.inpSel{height:57px;border-bottom:0;font-size:19px;line-height:57px}
.dfs .fieldGroup> .inpSelBox .select.col.inpSel:after{top:25px}
.dfs .searchFormWrap .btnSearch{top:10px}
.dfs .formHolder.inpBdl{margin-top:20px}
.dfs .formHolder.inpBdl .inptWrap{height:36px;line-height:36px}
.dfs .formHolder.inpBdl .inptWrap input{height:36px;padding:0;line-height:36px;font-size:18px}
.dfs .formHolder.inpBdl .btnTxt{top:-2px;height:36px;font-size:16px;line-height:36px}
.dfs .formHolder.inpBdl .inptWrap .btnInptReset{height:36px}
.dfs .formHolder.inpBdl .inptWrap input:-ms-input-placeholder{font-size:18px}
.dfs .formHolder.inpBdl .inptWrap input::-webkit-input-placeholder{font-size:18px}
.dfs .formHolder.inpBdl .inptWrap input::-moz-placeholder{font-size:18px}
.dfs .formHolder.inpBdl .btnTxt:after{bottom:-2px}
.dfs .fieldGroup.type .inptText + .btnInptReset{height:48px}
.dfs .fieldGroup.type{height:50px;padding:0 15px;align-items:center}
.dfs .fieldGroup.type .inptWrap{height:48px;line-height:48px}
.dfs .fieldGroup.type .inptWrap .inptText{height:48px;padding:0 36px 0 0;line-height:48px;font-size:18px;color:#111}
.dfs .fieldGroup.type .btnTxt{height:50px}
.dfs .fieldGroup .btnAdd{position:relative;flex:none;height:57px;line-height:38px;width:25.5px;margin:0;padding:0;text-align:center}
.dfs .fieldGroup .btnAdd:before{position:absolute;width:17px;height:17px;top:50%;right:5px;background-position:-150px -60px;margin-top:-8.5px}
.dfs .fieldGroup .btnAdd:after{display:block;content:'';height:2px;background-color:#eee;position:absolute;bottom:0;right:0;left:0}
.dfs .inptWrap.on + .btnAdd:after{background-color:#19A647}
.dfs .flexGroup .tit{font-size:18px;height:57px;line-height:57px}
.dfs .formHolder .inptWrap input{height:55px;line-height:55px;font-size:19px}
.dfs .formHolder .flexGroup .inptWrap input.inputed{text-decoration:none}
.dfs .formHolder .inptWrap .btnInptReset{height:55px}
.dfs .formWrap.msg .txtLink.dArrB, .dfs .formWrap.msg input[type='text'], .dfs .formWrap.msg .btnTxt{font-size:15px}
.dfs .formWrap .btnTxt{font-size:16px}
.dfs .formHolder .selectBank{height:57px;font-size:19px}
.dfs .formWrap.accTransfer .selectBank{font-size:19px}
.dfs .formWrap.accTransfer input[type='text']{font-size:19px}
.dfs .formHolder .selectBank:after{top:27px}
.dfs .formHolder.bankName .icoBnk{top:16px}
.dfs .meta:after{top:50%;margin-top:-6px}
.dfs .radioBtnWrap.type .btnHolder label{background-color:#f8f8f8;color:#666}
.dfs .tbl.tblDeal th{color:#666}
.dfs .formHolder.high{margin-bottom:10px}
.dfs p.check.type{margin-left:-10px;text-align:left}
.dfs .tbl.tblDeal{padding:10px 0 20px}
.dfs .tbl.tblDeal .datePeriod span{display:inline-block}
.dfs .txtbox{margin:20px 0}
.dfs .txtbox .txt.b{font-size:20px}
.dfs .txtbox .txt{font-size:16px;color:#666;line-height:22px}
.dfs strong.txt.l{font-size:20px}
.dfs .noticeList{margin-bottom:30px}
.dfs .noticeList .noticeHead{padding:30px 40px 30px 0;position:relative}
.dfs .noticeList .link .noticeHead:after{background-position:-27px -20.5px;width:13.5px;height:12.5px;display:inline-block;position:absolute;right:0;top:50%;margin-top:-6px;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.dfs .noticeList .noticeHead strong.tit{font-size:18px;font-weight:normal}
.dfs .noticeList .noticeHead .date{font-size:18px;margin-top:3px;color:#888;display:block}
.dfs .noticeList .noticeHead .new{display:inline-block;width:11px;height:11px;vertical-align:top;margin:5px 0 0 6px}
.dfs .noticeList .noticeHead .new img{width:100%;height:100%}
.dfs .noticeList .noticeview{background-color:#f7fcf9;padding:17px 15px;font-size:16px}
.dfs .selectBox{height:60px}
.dfs .linkArr:after, .dfs .tradeListWrap li .link:after{display:block;content:'';background-image:url('../images/contents/gb/sp_gb.png');background-size:auto 125px}
.dfs .linkArr:after, .dfs .tradeListWrap li .link:after{position:absolute;width:7px;height:12.5px;background-position:-109px -60px}
.dfs .linkArr:after{top:30px;right:15px}
.dfs .accInfoArea .linkArr{padding-right:20px}
.dfs .accInfoArea .linkArr:after{top:5px;right:0}
.dfs .tradeListWrap li .link:after{top:20px;right:0}
.dfs .btnSel{height:65px;line-height:63px;font-size:19px}
.dfs .optWrap.total.bg .lCont{font-size:19px}
.dfs .optWrap.total.bg .rCont{max-width:68%}
.dfs .optWrap.total.bg .rCont .price{font-size:20px;letter-spacing:-1px}
.dfs .optWrap .tit{font-size:19px}
.dfs .optWrap .price{font-size:19px}
.dfs .optWrap .price span{font-size:inherit}
.dfs .roundTxt{height:30px;line-height:30px;font-size:16px;border-radius:15px}
.dfs .roundTxt.type{margin-right:5px}
.dfs .accountTransferView.typeRoundBox > li{padding:33px 15px 30px}
.dfs .accountTransferView.typeRoundBox > li .btnDetail{bottom:85px}
.dfs .accountTransferView.typeRoundBox .accInfoArea .detailView{bottom:-45px}
.dfs .tbl .tblInfoList li{font-size:17px}
.dfs .tbl .tblInfoList li span{font-size:19px}
.dfs .txtLink.dArrB{font-size:17px}
.dfs .btnRefresh, .dfs .refreshTxt{font-size:17px !important}
.dfs .tradeInfo .tTit.in{color:#19A647}
.dfs .filterWrap li button{font-size:16px !important}
.dfs .flexGroup .btnPlus{margin-top:5px}
.dfs .radioBtnWrap .btnHolder.radio .radio{font-size:18px}
.dfs .radioBtnWrap .btnHolder.radio .radio.type{color:#666}
.dfs .tradeInfo .tDate{font-size:17px}
.dfs .tradeInfo .tDate span{margin-left:7px}
.dfs .tradeInfo .tTit{font-size:19px;width:auto;max-width:100%}
.dfs .tradeInfo .tPrice{font-size:21px}
.dfs .tradeInfo .balance{font-size:18px}
.dfs .tradeListWrap li .link{position:relative}
.dfs .searchBtnWrap{height:58px;margin:10px -20px 0;padding:10px 20px;background:#f9f9f9}
.dfs .searchBtnWrap.type{height:30px;padding:0 20px;text-align:right;margin:25px 0 0;background-color:#fff}
.dfs .searchBtnWrap.type .radioBtnWrap .btnHolder.radio.active input[type='radio']+label:before{border:1px solid #ccc}
.dfs .searchBtnWrap.type .radioBtnWrap .btnHolder.radio.active input[type='radio']+label{background:#fff;color:#999 !important;font-weight:inherit}
.dfs .searchBtnWrap.type .radioBtnWrap .btnHolder.radio:active input[type='radio']+label:before{border:2px solid #19A647}
.dfs .searchBtnWrap.type .radioBtnWrap .btnHolder.radio:active input[type='radio']+label{background:#fff;color:#19A647 !important;font-weight:bold}
.dfs .searchBtnWrap.type .radioBtnWrap.typeBtn{display:block}
.dfs .searchBtnWrap.type .radioBtnWrap.typeBtn .btnHolder{display:inline-block;margin-left:2px}
.dfs .searchBtnWrap.type .radioBtnWrap.typeBtn .btnHolder.radio .radio{height:30px;font-size:13px;padding:0 15px;letter-spacing:-.25px}
.dfs.small .searchBtnWrap.type .radioBtnWrap.typeBtn .btnHolder.radio .radio{padding:0 10px}
.dfs .searchBtnWrap ul{display:flex;margin-left:-5px}
.dfs .searchBtnWrap li{display:flex;flex:1;padding-left:5px}
.dfs .searchBtnWrap .radioBtnWrap .btnHolder{background-color:transparent}
.dfs .searchBtnWrap .radioBtnWrap .btnHolder + .btnHolder{margin-left:4px}
.dfs .searchBtnWrap .radioBtnWrap .btnHolder.radio .radio{border-radius:18px;background:#fff;font-size:13px}
.dfs .searchBtnWrap input[type="radio"] + label, input[type="checkbox"] + label{margin-left:0}
.dfs .radioBtnWrap .btnHolder.radio.active input[type='radio']+label{color:#111;background:#fff}
.dfs .radioBtnWrap.typeBtn{height:40px}
.dfs .radioBtnWrap.typeBtn .btnHolder.radio.active input[type='radio']+label{color:#19A647}
.dfs .searchBtnWrap + .titTblWrap{border-top:0}
.dfs .titTblWrap .titWrap .tit{display:block}
.dfs .titWrap .date{display:inline-block;font-size:17px;color:#888}
.dfs .titWrap .time{display:inline-block;margin-left:10px;font-size:17px;color:#888}
.dfs .txtDate{margin-top:10px;font-size:16px;color:#777}
.dfs .dateWrap{height:40px;margin-top:25px;padding:0 10px;background:#f9f9f9;border-radius:8px;line-height:40px}
.dfs .dateWrap .date{font-size:17px;color:#888}
.dfs .dateWrap .time{margin-left:10px;font-size:17px;color:#888}
.dfs .titTblWrap.typeNoLine{margin-top:25px;border-top:0}
.dfs .btnWrap.page .btn{padding:0 5px;word-break:keep-all}
.dfs .centerGuideWrap .ctTit:after, .dfs .centerTelList .telBox .telNum:after{display:block;content:'';background-image:url('../images/common/sp_com.png');background-size:auto 250px}
.dfs .popCont .listWrap.wide .accCheckList .allTxt{font-size:20px;line-height:49px}
.dfs ul.accountTransferView.typeRoundBox.viewAccList .roundTxtWrap{margin-bottom:18px}
.dfs .accountTransferView.typeRoundBox .accInfoArea .icoBnk{width:27px;height:27px;margin-right:8px}
.dfs .accountTransferView.typeRoundBox .accInfoArea .icoBnk img{display:block;width:27px;height:27px}
.dfs .filterWrap ul{margin-top:11px}
.dfs .filterWrap li + li:before{top:4px}
.dfs .radioBtnWrap .btnHolder.radio label.radio:before{border-radius:19px}
.dfs .jsAcc.type01 .radioBtnWrap .btnHolder.radio.active input[type='radio']+label:before{border-width:2px}
.dfs .formHolder .inptWrap.dataPicker input[type='text']{font-size:19px}
.dfs .optWrap .count{min-width:24px;height:24px;font-size:16px;line-height:22px}
.dfs .searchFormWrap label.radio{font-size:17px}
.dfs .tradeTotalWrap{display:table;width:100%;margin:25px 0 0;padding-bottom:11px;border-bottom:1px solid #555} 
.dfs .tradeTotalWrap .tCount{display:table-cell;font-size:18px;color:#000} 
.dfs .tradeTotalWrap .tCount strong{font-size:19px;color:#111} 
.dfs .btnWrap.type3{padding:0 20px}
.dfs .btnWrap.type3 .btn{border-color:#d7d7d7;color:#666;font-size:13px !important;padding:0px 15px;min-width:auto}
.dfs .optWrap.total.bg .rCont .price span{font-size:inherit}
.dfs .filterWrap li{font-size:16px}
/* 고객상담전화안내 */
.dfs .txtCenter{margin-top:25px;font-size:20px;color:#121212}
.dfs .centerGuideWrap{margin-top:20px;padding:25px 15px 22px;border:1px solid #19A647;border-radius:10px}
.dfs .centerGuideWrap .ctTit{position:relative;padding-left:48px;font-size:21px;color:#121212}
.dfs .centerGuideWrap .ctTit:after{position:absolute;top:-6px;left:0;width:42px;height:42px;background-position:-67px -112px}
.dfs .centerGuideWrap .noticeWrap{margin-top:25px}
.dfs .centerGuideWrap .telInfo{margin-top:16px}
.dfs .centerGuideWrap .telInfo strong{margin-right:10px;font-size:20px;color:#19A647}
.dfs .centerGuideWrap .telInfo .btn{height:30px;border:0;border-radius:5px;color:#fff;font-size:17px;font-weight:600;line-height:30px}
.dfs .centerTelList{margin:25px -3px 0}
.dfs .centerTelList:after{display:block;clear:both;content:""}
.dfs .centerTelList li{float:left;padding:0 3px;width:50%;margin-top:6px}
.dfs .centerTelList .telBox{display:block;min-height:99px;padding:16px 15px 12px;border:1px solid #eee;border-radius:8px}
.dfs .centerTelList .telBox strong{color:#121212;font-size:16px}
.dfs .centerTelList .telBox .telNum{display:flex;align-items:center;position:relative;height:40px;margin-top:5px;padding-left:38px;font-size:17px;line-height:1.2}
.dfs .centerTelList .telBox .telNum em{line-height:1.2}
.dfs .centerTelList .telBox .telNum:before{display:block;content:'';position:absolute;top:50%;left:0;width:28px;height:28px;margin-top:-12px;background-color:#f9f9f9;border-radius:50%}
.dfs .centerTelList .telBox .telNum:after{position:absolute;top:50%;left:7px;width:15.5px;height:15.5px;margin-top:-6px;background-position:-159px -88px}
@media screen and (max-width:359px){
	.dfs .centerTelList .telBox strong{font-size:13px}
	.dfs .centerTelList .telBox .telNum{padding-left:0}
	.dfs .centerTelList .telBox .telNum:before, .dfs .centerTelList .telBox .telNum:after{content:none}
}
.dfs .serviceTelWrap{margin-top:30px}
.dfs .serviceTelWrap .svTit{font-size:20px;color:#111}
.dfs .serviceTelWrap .svTxt{margin-top:5px;font-size:17px}
.dfs .serviceTelList{margin-top:15px;border-top:1px solid #555}
.dfs .serviceTelList li{display:table;width:100%;padding:25px 0;border-bottom:1px solid #f1f1f1}
.dfs .serviceTelList li span{display:table-cell;font-size:18px;color:#666}
.dfs .serviceTelList li em{display:table-cell;font-size:19px;font-weight:600;vertical-align:middle;text-align:right}
/* 메인계좌설정 */
.dfs .popCont .listBul.dash li{font-size:16px;line-height:21px}
.dfs .popCont .listBul .icoStar{display:inline-block;position:relative;top:2px;width:16px;height:16px;background-position:-59px -35px}
.dfs .accountTransferView.typeRoundBox.accSetUp .accInfoArea .accTit{font-size:18px !important}
.dfs .accountTransferView.typeRoundBox.accSetUp .accInfoArea .accCont .accNum{font-size:15px !important}
.dfs .accountTransferView.typeRoundBox.accSetUp .txtL{font-size:14px;color:#666}
.dfs .accountTransferView.typeRoundBox.accSetUp .accTransferList{padding:13px 45px 0 26px}
.dfs .accountTransferView.typeRoundBox.accSetUp .txtR .price{font-size:19px;vertical-align:top}
.dfs .accountTransferView.typeRoundBox > .accEmpty{min-height:115px}
.dfs .accountTransferView .accEmpty .notice{font-size:18px;line-height:28px}
.dfs .accountTransferView .accEmpty .notice .icoStar{top:5px}
.dfs .dragItem .accountTransferView.typeRoundBox > li .inr, .dfs .listItem .accountTransferView.typeRoundBox > li .inr{padding:20px 15px 18px}
.dfs .dragItem .accountTransferView.typeRoundBox > li .inr .accNum, .dfs .listItem .accountTransferView.typeRoundBox > li .inr  .accNum{margin-top:3px}
@media screen and (max-width:359px){
	.dfs .accountTransferView.accSetUp .accInfoArea + .accTransferList{padding:13px 40px 0 26px}
	.dfs .accountTransferView.typeRoundBox.accSetUp .txtR .price{font-size:16px}
	.dfs .accountTransferView.accSetUp .accTransferList .txtR .price>span{font-size:17px}
}
/* [운영] 자주쓰는 문구 */
.dfs .radioBtnWrap.typeFull .btnHolder.radio .radio {padding:0 15px;height:50px;font-size:18px;line-height:50px}
