@charset "utf-8";
/* [SEPTEM] UI Dev Team :nh_main_bh :인증/보안 서브메인 */
.accordionMenu.ccAccordian .dep1 > li{ border-bottom:4px solid #f8f8f8} 
.accordionMenu.ccAccordian .dep1 > li > a.more{padding:11px 40px 11px 17px;font-size:14px;background:url("../images/common/ico_plus.png") 94% 50% no-repeat;background:url("../images/common/ico_plus.png") right 17px top 50% no-repeat;background-size:15px 15px;border-bottom:none}
.accordionMenu.ccAccordian .dep1 > li > a.link{padding:11px 40px 11px 17px;font-size:14px;border-bottom:none}
.accordionMenu.ccAccordian .dep1 > li > a.more.active{color:#111;background-image:url("../images/common/ico_minus.png");background-size:15px 1px}
.accordionMenu.ccAccordian .dep2{padding:14px 0 0;border-top:1px solid #dedede}
.accordionMenu.ccAccordian .dep2 > li{margin-bottom:15px}
.accordionMenu.ccAccordian .dep2 > li a{padding:0 0 0 26px;font-weight:normal;color:#666;background:none;border-bottom:none}
.accordionMenu.ccAccordian .dep2 > li > ul li{margin-top:12px}
.accordionMenu.ccAccordian .dep1 > li > a.active{color:#111}
.certiVisual{height:182px;margin:0 -17px;padding-top:130px;font-size:14px;background:url(../images/main/img_certi_visual.png) no-repeat 50% 20px #f7fcf9;background-size:157px 90px;text-align:center}
.certiVisual .pointColor{color:#19a647 !important}
.certiQuick{text-align:center}
.certiQuick ul{overflow:hidden}
.certiQuick ul li{display:inline-block;width:33.33%;margin-top:20px;text-align:center}
.certiQuick ul li a{display:block;padding-top:53px;line-height:1.3;font-size:12px;background-size:45px 45px;background-position:50% 0;background-repeat:no-repeat}
.certiQuick ul li:nth-child(1) a{background-image:url(../images/main/ico_certi_quick01.png)}
.certiQuick ul li:nth-child(2) a{background-image:url(../images/main/ico_certi_quick02.png)}
.certiQuick2 {margin:20px -17px 0;border-top:4px solid #f8f8f8;border-bottom:4px solid #f8f8f8}
.certiQuick2 ul{overflow:hidden}
.certiQuick2 ul li{float:left;width:50%;line-height:42px}
.certiQuick2 ul li:nth-child(1),.certiQuick2 ul li:nth-child(2){border-bottom:1px solid #dedede}
.certiQuick2 ul li:nth-child(1),.certiQuick2 ul li:nth-child(3){border-right:1px solid #dedede}
.certiQuick2 ul li a{display:block;padding:0 0 0 37px;background-repeat:no-repeat;background-position:17px 14px;background-size:15px 15px;font-size:13px;letter-spacing:-1px}
.certiQuick2 ul li:nth-child(1) a{background-image:url(../images/main/ico_certi_quick03.png)}
.certiQuick2 ul li:nth-child(2) a{background-image:url(../images/main/ico_certi_quick04.png)}
.certiQuick2 ul li:nth-child(3) a{background-image:url(../images/main/ico_certi_quick07.png)}
.certiQuick2 ul li:nth-child(4) a{background-image:url(../images/main/ico_certi_quick05.png)}